transindus_eco_config.php
pods.export
# ignore all files ending with config.php
*config.php
# ignore all files that have config.php anywhere in between
*config.php*
temp.php
localonly_working_file.php
vendor/
check_avasarala_in*
mystuder.py
xcom_proto*
class_my_shelly_over_lan_test.php
shelly_over_lan_test.php
locallinux-github-workspace*
